###
## !!! /etc/netdump/targets.conf
##
## !!! Please use printable char for passwords,
## !!! password can not neither contain semicolon
## !!! ':' nor blank spaces
#
## !!! User:Password
#
auth0:root:password
#auth1:dummy:123456
#auth2:joe:cracked99
#
## !!! User:Password1:Password2 (e.g. Enable Prompt)
#
#auth9:joe:cracked99:enable99
#
## !!! Cisco UCS Templates needs an tftp, tftp
## !!! sftp or scp server in the Netdump server
## !!! (192.168.1.1)
#
#auth10:admin:123456:full-state:192.168.1.1
#auth20:admin:123456:all-configuration:192.168.1.1
